:root{
    --primary-white-color: #ffffff;
    --accent-color: #2196F3;
    --primary-text-color:  #757575;
    --title-text-color: #212121;

}

body{
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* LOGO */

.logo {
    font-family: 'Raleway';
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.logo span{
    color: var(--accent-color);
}

/* NAVI */

.site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.site-nav .link:focus, .site-nav .link:hover{
    color: var(--accent-color);
}
 .site-nav .link.current{
    color: var(--accent-color);
 }

.contact-link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.contact-link:focus, .contact-link:hover{
    color: var(--accent-color);
}

/* FOOTER */

.footer{
    background-color: #2F303A;
}

.logo-footer{
    font-family: 'Raleway';
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

}

.logo-footer span{
    color: var(--accent-color);
}
